<% if @winners.length == 2 %>
  <h1>And the winner is <%= @winners[0].to_s.split('_').map(&:capitalize).join(' ') %> with <%= @winners[1] %> points</h1>
<% else %>
  <h1> It's a draw </h1>
  <% @winners.each_slice(2) do |a, b| %>
  <h1> <%= a %> Scored <%= b %> </h1>
  <% end %>
<% end %>

<% @hands.each do |player, cards| %>
      <h3><%= player.to_s.split('_').map(&:capitalize).join(' ') %></h3>
      <% cards.each do |card| %>
        <h5><%= card.value %> of <%= card.suit %></h5>
      <% end %>
      </br>
    <% end %>

<form action="/result" method="post">
    <input type="submit" value="Play another Hand?" />
</form>

<form action="/">
    <input type="submit" value="Brand New Game?" />
</form>
